.data-form{
  margin-top: 170px;
  
}
.disp-label {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 180px;
  clear: left;
  padding-right: 10px;
}

input {
  height: 30px;
  flex: 0 0 200px;
  margin-left: 10px;
  margin-bottom: 100px;
}

input, label {
  float:left;
}