* {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

label {
  text-align: right;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 180px;
  clear: left;
  padding-right: 10px;
}

input {
  height: 30px;
  flex: 0 0 200px;
  margin-left: 10px;
}

input, label {
  float:left;
}